.firstSection h1{
    font-family: 'Poppins', sans-serif;
    color: $darkCyan;
}

.firstSection button{
    max-width: 70%;
    font-weight: 600;

}

.firstSection p{
    font-family: 'Open Sans', sans-serif;
    color: $darkCyan;
    max-width: 500px;
}
