.logoFooter {
  width: 25px;
  height: 25px;
  margin-top: auto;
  margin-bottom: auto;
}

footer h3,
footer p {
  color: white;
}

.footerIcons {
  width: 15px;
  height: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

