.screenMockupHero{
    width: 80%;
}

.screenMockupsSection p{
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
}

.screenMockupsSection h2 {
    color: grey;
    font-weight: 200;
}

.screenMockupsIcons{
    width: 40px;
}

